js_import ${APP_DIR}/flp.js;

server {
    listen ${PORT};
    root ${APP_DIR};

    # load routes
    include /etc/nginx/module.d/healthcheck.conf;

    location /event {
        js_content flp.log;
    }

    location /event-batch {
        js_content flp.logBatch;
    }

    location ~* \.(DS_Store|svn|git|htpasswd|htaccess|bash_history) {
        return 404;
    }
}
